streamlit
scipy==1.13.1
pandas
numpy
scikit-learn
xgboost
statsmodels
openpyxl
joblib
gdown
matplotlib
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client


