streamlit
scipy==1.13.1
scikit-learn==1.8.0
statsforecast==2.0.3
joblib==1.5.3
xgboost==3.2.0
statsmodels
pandas
numpy
openpyxl
gdown
matplotlib
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
