streamlit
pandas
numpy
scikit-learn
xgboost
statsforecast
statsmodels
prophet
openpyxl
joblib
gdown
matplotlib
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pystan==2.19.1.1
